# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
venv/

# Django media and static (optional for dev)
media/
staticfiles/

# MacOS
.DS_Store

# Environment files
.env
!.env.example  # <--- BU satır çok önemli